/Specialization_Armor.class
/Specialization_Axe.class
/Specialization_BluntWeapon.class
/Specialization_EdgedWeapon.class
/Specialization_FlailedWeapon.class
/Specialization_Hammer.class
/Specialization_Natural.class
/Specialization_Polearm.class
/Specialization_Ranged.class
/Specialization_Shield.class
/Specialization_Staff.class
/Specialization_Sword.class
/Specialization_Weapon.class
