/Blah.class
/Common.class
/Draconic.class
/Drowish.class
/Druidic.class
/Drunken.class
/Dwarven.class
/Elvish.class
/Fey.class
/GenLanguage.class
/Gigantic.class
/Gnomish.class
/Goblinese.class
/Ignan.class
/Orcish.class
/SignLanguage.class
/StdLanguage.class
/ThievesCant.class
/Undercommon.class
