/Ability.class
/Amputator.class
/DiseaseAffect.class
/HealthCondition.class
/ItemCraftor$ItemKeyPair.class
/ItemCraftor.class
/ItemTicker.class
/Language.class
/MendingSkill.class
/Trap.class
/TriggeredAffect.class
