/Skill_AboveTheLaw.class
/Skill_AllBreathing.class
/Skill_Arrest.class
/Skill_ArrestingSap.class
/Skill_Attack2.class
/Skill_Attack3.class
/Skill_AttackHalf.class
/Skill_Bash.class
/Skill_BellyRolling.class
/Skill_Cage.class
/Skill_Chirgury.class
/Skill_Climb.class
/Skill_CollectBounty.class
/Skill_ControlUndead.class
/Skill_Convert.class
/Skill_Dirt.class
/Skill_Disarm.class
/Skill_Dodge.class
/Skill_Enslave.class
/Skill_Explosive.class
/Skill_Feint.class
/Skill_Flee.class
/Skill_Haggle.class
/Skill_HandCuff.class
/Skill_IdentifyPoison.class
/Skill_JailKey.class
/Skill_Leeching.class
/Skill_Map.class
/Skill_Meditation.class
/Skill_MountedCombat.class
/Skill_Parry.class
/Skill_Recall.class
/Skill_RegionalAwareness.class
/Skill_Resistance.class
/Skill_Revoke.class
/Skill_ScrollCopy.class
/Skill_Slip.class
/Skill_Spellcraft.class
/Skill_Subdue.class
/Skill_Swim.class
/Skill_Track.class
/Skill_Trip.class
/Skill_TurnUndead.class
/Skill_TwoWeaponFighting.class
/Skill_UndeadInvisibility.class
/Skill_WandUse.class
/Skill_WildernessLore.class
/Skill_Write.class
/StdSkill.class
