/Ammunition.class
/AmmunitionWeapon.class
/ArchonOnly.class
/Armor.class
/CagedAnimal.class
/ClanItem.class
/Coins.class
/Container.class
/DeadBody.class
/DeckOfCards.class
/DoorKey.class
/Electronics$Computer.class
/Electronics$ElecPanel.class
/Electronics$FuelConsumer.class
/Electronics$PowerGenerator.class
/Electronics$PowerSource.class
/Electronics.class
/FalseLimb.class
/Food.class
/HandOfCards.class
/InnKey.class
/Item.class
/Light.class
/MagicDust.class
/MiscMagic.class
/MusicalInstrument.class
/PackagedItems.class
/Perfume.class
/Pill.class
/PlayingCard.class
/Potion.class
/RawMaterial$CODES$1.class
/RawMaterial$CODES.class
/RawMaterial$DefResource.class
/RawMaterial$Material.class
/RawMaterial$ResourceFlag.class
/RawMaterial.class
/Recipe.class
/RoomMap.class
/Scroll.class
/Shield.class
/ShipComponent$ShipEngine$ThrustPort.class
/ShipComponent$ShipEngine.class
/ShipComponent.class
/Software.class
/SpaceShip.class
/SpellHolder.class
/Technical$TechCommand.class
/Technical$TechType.class
/Technical.class
/Wand.class
/Weapon.class
/Wearable$1.class
/Wearable$2.class
/Wearable$CODES.class
/Wearable.class
